<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="icons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png" />
    <title>Card Crafter</title>
  </head>
  <body>
    <header class="readable-background">
      <h1 class="title center">Card Crafter</h1>
    </header>

    <!-- CORE APP -->
    <div class="main-content" id="root"></div>
  </body>
</html>
